.footer__column_content_copyright{ 
    flex-basis: 711px; 
    display: flex;
    flex-flow: column nowrap; 
    justify-content: space-between;
    position: relative; 
    margin: 0;
    line-height: 25px; 
    font-weight: normal;
  } 