.cards__description {
    margin-bottom: 60px;
    line-height: 23px;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    margin-top: 0px;
}

.cards__description:last-child {
    margin-bottom: 0px;
}