.two-columns__main-text{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    width: 80%;
    min-width: 784px;
    margin: 0 0;
  }