.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
ul{
  list-style-type: none;
  padding-inline-start: 0;
}
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  /* parameters for the header section */
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.logo{
  position: absolute;
}
.logo__place_header{
  top: 30px;
  left: 64px;
  max-width: 154px;
  max-height: 31px;
  z-index: 3;
}
.header__title{
  align-items: center;
  margin-left:64px;
  width:730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 3;
}
.header__subtitle{
  position:absolute;
  left: 64px;
  bottom: 30px;
  max-width: 388px;
  z-index: 3;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.header__link{
  text-decoration: none;
  color: #2f80ed;
}
.header__main-illustration{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: 2;
}
/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0px;
  background-color: #2f80ed;
  z-index: 1;
}
.two-columns{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 100px auto;
}
.two-columns__brief{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  max-width: 175px;
  color: #2f80ed;
}
.two-columns__main-text{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 80%;
  min-width: 784px;
  margin-top: 0;
}
.two-columns__paragraph{
  margin-block-start: .5em;
}
.digits{
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;  
}
.section-title{
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  width: 60%;
}
.digits__title{
  margin-top: 100px;
  margin-bottom: 20px;
  text-align: center;
}
.section-subtitle{
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
}
.digits__subtitle{
  padding-top: 20px;;

}
.digits__table{
  margin-bottom: 100px;
}
.table{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 1100px;
  margin: auto;
}
.digits__table_cell{
  margin-top: 60px;
  width: 250px;
}
/*I didn't find anything to put for .table__cell that seemed to be useful for both locations*/
/* I didn't find anything to put for .digits__heading that wouldn't also work for .table__heading*/
.table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
/*I didn't find anything to put for .digits__table_text that wouldn't also work for .table__text*/
.table__text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}
.feynman{
  position: relative;
  background-color: #f2f2f2;
  height:790px;
  background-image: url(../images/feynman.png);
  background-size: 876px 637px;
  background-repeat: no-repeat;
  background-position: left bottom;
}
.feynman__title{
  width: 775px;
  margin-top: 100px;
  margin: auto;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
}
.feynman__subtitle{
  margin: auto;
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}
.feynman__link{
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #000000;
  text-decoration: none;
}
.kaufman{
  position: relative;
  background-color: #1f1f1f;
  color: #f2f2f2;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
  padding-bottom: 90px;
  overflow: hidden;
}
.kaufman__title_theme_dark{
  margin-top: 90px;
  z-index:2;
  text-align: center;
}
.kaufman__subtitle_theme_dark{
  text-align: center;
}
.kaufman__table_theme_dark{
  margin-bottom: 90px;
  z-index: 2;
}
/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
  z-index: 2;
}
.kaufman__triangle{
  position: absolute;
  top: 10px;
  right: -210px;
  z-index: 1;
}
.footer{
  min-height: 350px;
  background-color: #1f1f1f;
  font-size: 18px;
  position: relative;
  display: flex;
  justify-content: center;
  color: #f2f2f2;
  text-decoration: none;
}
.footer__columns{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 60px;
  margin-bottom: 40px;
}
.footer__column{
  align-items: flex-start;
}
.footer__column_content_copyright{
  flex-basis: 711px;
  flex-flow: column nowrap;
  position: relative;
  margin-top: 18px;
  margin-left: 0;
  margin-bottom: 18px;
  line-height: 25px;
  font-weight: normal;
  /*border: 2px solid red;*/
}
.footer__column_content_social{
  align-items: left;
  /*border: 2px solid red;*/
}
.footer__column-heading{
  margin-top: 0;
  line-height: 45px;
  font-weight: bold;
}
.footer__column-links{
  margin-top: 20px;
  margin-bottom: 16px;
  line-height: 30px;
  font-weight: normal;
  color: #f2f2f2;
  text-decoration: none;
}
.footer__column_content_info{
  display: flex;
  flex-flow: column nowrap;
  align-items: left;
  
  /*border: 2px solid red;*/ 
}
.footer__social-icon{
  width: 16px;
  height: 16px;
  margin-left: 0;
  margin-right: 10px;
}
.logo__place_footer{
  position: absolute;
  width: 183px;
  height: 35px;
}
.footer__author{
  position: absolute;
  left: 0;
  bottom: 0;
  line-height: 25px;
  font-weight: normal;
  margin-top: 18px;
  margin-bottom: 18px;
}